{% extends 'main.html' %}



{% block content %}
  <h1>Order Summary</h1>
  <p><strong>Cart ID:</strong> {{ food_cart.id }}</p>
  <p><strong>Date Added:</strong> {{ food_cart.date_checked_out }}</p>

  <h3>Kindly note that we only offer delivery services to areas within Ibadan</h3>
  <h4>Food(s) ordered</h4>

  <table>
    <thead>
      <tr>
        <th>Food</th>
        <th></th>
        <th></th>
        <th>Optional Items</th>
      </tr>
    </thead>
    <tbody>
      {% for cart_item in cart_items %}
        <tr>
          <td>{{ cart_item.food.name }}</td>
          <td>{{ cart_item.food.price}} ({{cart_item.food_quantity}})</td>
        <td></td>
          <td>
            {% for optional_item in cart_item.get_ordered_optional_items %}
            {% if optional_item.quantity > 0 %}
            {{optional_item.optional_item.name}}
            ({{optional_item.optional_item.price}})
            X {{ optional_item.quantity }}<br>
            {% endif %}
            {% endfor %}
<!--            {% for optional_item in cart_item.optional_item.all %}-->
<!--              {{ optional_item.name }} ({{ optional_item.price }})<br>-->
<!--            {% endfor %}-->
          </td>
          <td>{{ cart_item.get_total }}</td>
        </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <th colspan="2">Total Price:</th>
        <td>{{ total }}</td>
      </tr>
    </tfoot>
  </table>


<h2>Delivery Details</h2>
<form method="post">
  {% csrf_token %}
  {% if delivery_canceled %}
    <input type="hidden" name="delivery_canceled" value="1">
  {% endif %}
  <div class="form-group">
    <label for="address">Address:</label>
    <a href="{% url 'save_location' food_cart.id %}">Choose location</a>
    {% if request.GET.address %}
      <span>{{ request.GET.address }}</span>
    {% endif %}
  </div>
  {% if not request.user.is_authenticated %}
    <div class="form-group">
      <label for="phone_number">Phone Number:</label>
      <input type="text" name="phone_number" id="phone_number" class="form-control" placeholder="Phone number" required>
    </div>
  {% endif %}
  <button type="submit" class="btn btn-primary">Place Order</button>
</form>

{% endblock %}
